<div class="row">
  <div id="titleDiv" class="col-md-12 header">
    <h4 class="letters">Curriculum Vitae</h4>
  </div>
  <div id="date" class="col-md-4 header">
     <span class="letters">{{nowDate | amDateFormat: 'DD-MM-YYYY hh:mm:ss a'}}</span>
  </div>
  <div class="col-md-8 header">
      <h5 class="letters">Luis Andrés Veras Ramos</h5>
  </div>
  <div class="col-md-4">
    <!-- <div  > -->
      <img class="profileImg" src="assets\pictures\cvpic.PNG">
    <!-- </div> -->
  </div>
  <div class="col-md-8 mt-5">
    <h4>{{this.objetiveData.title}}</h4>
    <p>
        {{this.objetiveData.content}}
    </p>
  </div>
</div>