

#name {
    text-align: center;
    /* border-bottom: 4px solid white; */
}

.name {
    margin: auto;
}

.relativePos {
    position: relative;
    overflow: hidden;
}

.absolutePos {
    position: absolute;
    bottom: 250px;
    height: 50px;
}

.description {
    background-color: #18c3f8;
}

/* #profileImg {
    justify-content: center;
    margin: auto;
} */

