<div class="pageFrame scroll-list">   
  <div class="row">
    <div class="col-md-12">
        <img class="float-right" id="languageIcon" [matMenuTriggerFor]="menu" src="{{picRoute}}" alt="">
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="getData('ES')"><img src="./assets/pictures/icons/ES.png" alt="">ES</button>
          <button mat-menu-item (click)="getData('EN')"><img src="./assets/pictures/icons/EN.png" alt="">EN</button>
        </mat-menu>
    </div>
    <div class="col-md-12">
        <app-bio *ngIf="infoData" [infoData]="infoData"></app-bio>
        <app-related-info *ngIf="infoData" [infoData]="infoData"></app-related-info>
    </div>
  </div>   
  
</div>