/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
    font-family: monospace;
}

.header {
    background-color:#1F3E77;
}

.letters {
    color: #1BD9FA;
}

.scroll-list {
    flex-grow: 1;
    overflow: hidden;
    max-height: auto;
    margin-top: 30px;
  }
  
  .scroll-list:hover {
    flex-grow: 1;
    overflow: auto;
    max-height: auto;
    margin-top: 30px;
  }
  
  .scroll-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    margin-top: 30px;
  }

  .scroll-list::-webkit-scrollbar-thumb {
    background: rgb(63, 109, 170);
  }
  
  /* Handle on hover */
  
  .scroll-list::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 109, 170);
  }